# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: kalecream
          template: classic
          base: activity, community, repositories, metadata
          base_hireable: no
          base_indepth: yes
          repositories_forks: yes
          config_display: large
          config_padding: 5%
          config_timezone: America/Jamaica
          plugin_achievements: no
          plugin_achievements_display: compact
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: A
          plugin_activity: no
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 3
          plugin_activity_load: 300
          plugin_activity_visibility: all
          plugin_anilist: yes
          plugin_anilist_limit: 1
          plugin_anilist_limit_characters: 0
          plugin_anilist_medias: manga
          plugin_anilist_sections: favorites,reading,watching
          plugin_anilist_shuffle: yes
          plugin_anilist_user: kalecream
          plugin_discussions: no
          plugin_discussions_categories: yes
          plugin_followup: yes
          plugin_followup_archived: yes
          plugin_followup_indepth: yes
          plugin_gists: yes
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 28
          plugin_habits_facts: no
          plugin_habits_from: 1000
          plugin_habits_languages_limit: 0
          plugin_habits_trim: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: year
          plugin_languages: yes
          plugin_languages_analysis_timeout: 30
          plugin_languages_colors: github
          plugin_languages_ignored: html
          plugin_languages_indepth: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 8
          plugin_languages_other: yes
          plugin_languages_sections: most-used
          plugin_languages_threshold: 5%
          plugin_lines: yes
          plugin_projects: yes
          plugin_projects_descriptions: yes
          plugin_sponsorships: yes
          plugin_sponsors: yes
          plugin_sponsors_past: yes
          plugin_sponsors_sections: goal, list, about
          plugin_sponsors_size: 24
          plugin_stars: yes
          plugin_stars_limit: 8
          plugin_topics: no
          plugin_topics_limit: 20
          plugin_topics_mode: labels
          plugin_topics_sort: stars
          plugin_traffic: yes
          plugin_notable: yes
          plugin_notable_indepth: yes
          plugin_pagespeed: yes
          plugin_pagespeed_url: www.sabrinamedwinter.com
          plugin_pagespeed_detailed: yes
          plugin_pagespeed_screenshot: no
